/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light-1.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light-2.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	background-color: #f2f2f2;
	font-family: "LatoWeb", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: black;
	padding-top: 3.5em;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Webfont: Raleway-Light */@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light-1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* Webfont: Raleway-Light */@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light-2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    color: #636363;
}

/* Filter panel */
.btn-default .badge {
	background-color: #bbb ;
}

#filter_panel .title {
	display: inline-block;
	color: #aaa;
	margin: 0em 0.2em 0em 1em;
}

#filter_panel .title.pov {	
	margin: 0em 0.2em 0em 0em;
}

#filter_panel .dropdown-toggle {
	color: #555;
	font-weight: bold;
}

#filter_panel .btn.pov-link, #filter_panel .btn.agent-link, #filter_panel .btn.agent-current {
	padding: 0.3em 0.6em;
}

#filter_panel .btn.pov-link, #filter_panel .btn.agent-link {
	border: none;
}

#filter_panel .btn.agent-link {
	color: #aaa;
}

#filter_panel .btn.agent-link .badge {
	background: #ccc;
}

#filter_panel .btn.agent-current {
	color: #666;
	font-weight: bold;
	background: white;
	border: none;
}

#filter_panel .btn.agent-current .badge {
	color: white;
	background: #666;
}

/*
 * Agent filter menu with select2 script
*/
#select_agent_container {
	display: inline-block;
	font-size: 0.8em;
}
#select_agent {
	display: none; /* don't show select until it is rendered */
}
#select_agent_container #select2-select_agent-container {
	border-radius: 4px;
}
#select_agent_container * {
	outline: none;
}
#select_agent_container .select2-selection--single {
	color: #666;
	font-weight: bold;
	border-color: transparent;
}

#select2-select_agent-results {
	font-size: 0.9em;
}

/*
 * General Select2 styles
*/
.select2-selection--single {
	height: 34px !important;
	border-color: #ccc !important;
	padding: 2px 6px;
}
.select2-selection__arrow {
	top: 3px !important;
}

.select2-container *:focus {
	outline: none;
}

.select2-selection--single .select2-search input {
	border: 1px solid #ccc !important;
}

.select2-results__option[aria-selected=true] {
    color: #555;
	font-weight: bold;
	background: white !important;
}
.select2-results__option--highlighted {
    color: black !important;
	background: #eee !important;
}

/*
 * Summernote Editor appearance
*/
.summernote-text-wrapper p {
	line-height: 22px;
	margin-bottom: 15px;
}

/*
 * Datatable styles
*/
.table-hover tbody tr:hover td, .table-hover tbody tr.hover td {
	background-color: #ddd; /*lightorange: #FFE2B3*/
}

/*
 * Tickets table
*/
#tickets-table .glyphicon {
	color: #555;
}

/*
 * Ticket show
*/
/* sm and up */
@media screen and (min-width: 992px){
	#ticket-body .row.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	
	#ticket-body .row-ticket-attachments {
		margin: 15px -15px 5px -30px;
	}
}


#ticket-body .description-col, #ticket-body .intervention-col {
	border: 1px solid #ddd;
	margin: 0px 15px 0px 0px;
	padding: 15px;
	border-radius: 5px;
}

@media screen and (max-width: 991px){
	#ticket-body .description-col, #ticket-body .intervention-col {
		margin: 15px;
	}
	
	#ticket-body .row-ticket-attachments {
		margin: 15px -15px 5px -15px;
	}
}

/* Tags */
.btn.btn-tag {
	border: transparent;
}

.panel-highlight {
	border-color: #FFE171;
}

.panel-highlight > .panel-heading {
	background-color: #FFE171;
}

.panel-highlight > .panel-body {
	background-color: lightyellow;
}

.comment_deleteit {
	margin: -5px -10px 0px 0px;
}

/* Grouped check list check / uncheck styles : Deletion list style */
.grouped_check_list .check_button, .grouped_check_list .check_button:visited {
	color: #777;
}

.grouped_check_list.deletion_list .check_parent.unchecked .glyphicon-ok, .grouped_check_list.deletion_list .check_parent.checked .glyphicon-remove {
	display: none;
}
.grouped_check_list.deletion_list .check_parent.checked .glyphicon-ok, .grouped_check_list.deletion_list .check_parent.unchecked .glyphicon-remove {
	display: inline !important;
}	

.grouped_check_list.deletion_list .check_parent.checked .check_info {
	text-decoration: line-through;
	color: black !important;
	background-color: #ff9999 !important;
}

.grouped_check_list.deletion_list .check_parent.checked.check_related_text, .grouped_check_list.deletion_list .check_parent.checked .check_related_text {
	text-decoration: line-through;
	color: black !important;
}

.grouped_check_list.deletion_list .check_parent.checked.check_related_bg, .grouped_check_list.deletion_list .check_parent.checked .check_related_bg {
	background-color: #ff9999 !important;
}

/* Grouped check list - Style: no-border */
.grouped_check_list.no-border .btn {
	border: transparent;
}

/* Grouped check list - Style: Coloured btn elements by default */
.grouped_check_list.coloured-list .check_parent {
	margin: 0px 25px 10px 0px;
}

.grouped_check_list.coloured-list .check_parent.unchecked .btn-default {
	color: gray;	
}
.grouped_check_list.coloured-list .check_parent.unchecked .check_info {
	background: white;
}

.grouped_check_list.coloured-list .check_parent.checked a.btn-default {
	color: #00e600;
}
.grouped_check_list.coloured-list .check_parent.checked .check_info {
	color: black;
}
.grouped_check_list.coloured-list .check_parent.checked .check_info {
	background: #f2ffe6;
}


/* Common elements */
.form-control {
	font-size: 16px;
}
.text-info {
	color: #549ee8;
}

.text-info .badge {
	background-color: #549ee8;
}
/* btn-info: #84bef5; */

.text-warning {
	color: #e69138;
}
.text-warning .badge {
	background-color: #e69138;
}
/* btn-warning background: #f6b26b; */

.text-danger .badge {
	background-color: #a94442;
}

.text-success {
	color: #68c240;
}
.text-success .badge {
	background-color: #68c240;
}

.tooltip-info {
	cursor: help;
}

.tooltip-info .glyphicon-question-sign {
	color: #bbb;
}

/* Ticket field error */
.jquery_error_text {
	display: none;
}

.note-editor.panel {
	margin-bottom: 0px;
}

.jquery_error .form-control, .jquery_error .note-editor, .jquery_error .jquery_attachment_block {
	border: 1px solid red;
}
.jquery_error .jquery_error_text {
	display: block;
	color: red;
	font-weight: bold;
}

/* Ticket attachments */
.attached_list .panel-body {
	padding: 8px;
}

.attached_list .media-left a, .attached_list .media-left a:visited {
	color: #bbb;
}

.attached_list .media-left a.image:hover, .attached_list .media-left a.image:active {
	color: #ff3385;
}

.attached_list .media-left a.pdf:hover, .attached_list .media-left a.pdf:active {
	color: red;
}

.attached_list .media-left a.msword:hover, .attached_list .media-left a.msword:active {
	color: #549ee8;
}

.attached_list .media-left a.msexcel:hover, .attached_list .media-left a.msexcel:active {
	color: #77DD77;
}

.attached_list .media-left a.compressed:hover, .attached_list .media-left a.compressed:active {
	color: #FFC125;
}

.attached_list .media-left a.default:hover, .attached_list .media-left a.default:active {
	color: orange;
}

