/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light-1.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light-2.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	background-color: #f2f2f2;
	font-family: "LatoWeb", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: black;
	padding-top: 3.8em;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Webfont: Raleway-Light */@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light-1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* Webfont: Raleway-Light */@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light-2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    color: #636363;
}

.btn-xs {
	padding  : .4rem;
	font-size  : .9rem;
	line-height  : .5rem;
	border-radius : .2rem;
}

.form-group .fa {
	color: gray;
}

/* Hihglight a form group. This is used in ticket search form for filled fields */
.form-group.row.bg-info {
	padding: 0.5em 0em;
}

.form-group.row.bg-info label.col-form-label {
	font-weight: bold;
}
.form-group.row.bg-info label {
	color: white;
}

/* Filter panel */
#filter_panel {
	margin: 0em 0em 0.8em 0em;
}

#filter_panel .btn-light .badge {
	background-color: #bbb ;
}

#filter_panel .card-body {
	padding: 0.5rem;
}

#filter_panel .title {
	display: inline-block;
	color: #aaa;
	margin: 0em 0.2em 0em 1em;
}

#filter_panel .title.pov {
	margin: 0em 0.2em 0em 0em;
}

#filter_panel .dropdown-toggle {
	color: #555;
	font-weight: bold;
}

#filter_panel .btn.pov-link, #filter_panel .btn.agent-link, #filter_panel .btn.agent-current {
	padding: 0.3em 0.6em;
}

#filter_panel .btn.pov-link {
	margin: 0em 0.5em 0em 0em;
}

#filter_panel .removeall-link, #filter_panel .btn.pov-link, #filter_panel .btn.agent-link {
	border: none;
}

#filter_panel .btn.agent-link {
	color: #aaa;
}

#filter_panel .btn.agent-link .badge {
	background: #ccc;
}

#filter_panel .btn.agent-current {
	color: #666;
	font-weight: bold;
	background: white;
	border: none;
}

#filter_panel .btn.agent-current .badge {
	color: white;
	background: #666;
}

#filter_panel .select2-selection {
	background-color: #f8f9fa;
}

/* Mark as read / unread button */
#tickets-table .unread_toggle {
	background-color: transparent;
	border-color: transparent;
}
#tickets-table .unread_toggle .fa-user {
	color: #ccc;
}

/* Unread ticket highlighted text style */
.unread_ticket_text {
	font-weight: bold;
}

/* Unread comment highlighted card header */
.unread_comment .card-header {
	background-color: #777;
}

/*
 * Used in Ticket card. Style from Bootstrap 3
*/
.btn.btn-default {
	color: black;
	background-color: white;
	border-color: #ccc;
}

.btn.btn-default:hover, .btn.btn-default:active {
	background-color: #ddd;
}


/*
 * General Select2 styles
*/
#panichd_content .select2-selection {
	min-height: 34px !important;
	border-color: #ccc !important;
}

#panichd_content .select2-selection--single {
	padding: 2px 6px;
}

#panichd_content .select2-selection__arrow {
	top: 3px !important;
}

#panichd_content .select2-container *:focus {
	outline: none;
}

#panichd_content .select2-selection--single .select2-search input {
	border: 1px solid #ccc !important;
}

#panichd_content .select2-results__option[aria-selected=true] {
    color: #555;
	font-weight: bold;
	background: white !important;
}
#panichd_content .select2-results__option--highlighted {
    color: black !important;
	background: #eee !important;
}


/*
 * Agent filter menu with select2 script
*/
#panichd_content .select2_filter {
	display: inline-block;
	font-size: 0.8em;
}
#panichd_content #select_agent {
	display: none; /* don't show select until it is rendered */
}
#panichd_content .select2_filter #select2-select_agent-container {
	border-radius: 4px;
}
#panichd_content .select2_filter * {
	outline: none;
}
#panichd_content .select2_filter .select2-selection--single {
	color: #666;
	font-weight: bold;
	border-color: transparent !important;
}

#panichd_content .select2_filter .select2-selection--single:hover {
	background-color: #e6e6e6;
}

#panichd_content #select2-select_agent-results {
	font-size: 0.9em;
}

/*
 * Summernote Editor appearance
*/
.summernote-text-wrapper p {
	line-height: 22px;
	margin-bottom: 15px;
}

.summernote-text-wrapper .summernote_thumbnail_link {
	display: inline-block;
	border: 1px solid #eee;
	padding: 4px;
	border-radius: 5px;
	width: 60px;
	height: 60px;
}

/*
 * Datatable styles
*/
.table-hover tbody tr:hover td, .table-hover tbody tr.hover td {
	background-color: #ddd; /*lightorange: #FFE2B3*/
}

/*
 * Tickets table
*/

#tickets-table .fa.attachment, #tickets-table .fa.comment, #tickets-table .fa.tickethidden {
	color: #999;
}

#tickets-table .jquery_ticket_text_toggle {
  color: #999;
  border-color: transparent;
  background-color: transparent;
}

#tickets-table .jquery_ticket_text_toggle:hover {
  background-color: #eee;
}

/*
 * Ticket show
*/
/* sm and up */
@media screen and (min-width: 1200px){
	#ticket-body .row.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	#ticket-body .row-ticket-attachments {
		margin: 15px -15px 5px -30px;
	}
}


@media screen and (max-width: 1999px){
	#ticket-body .row-ticket-attachments {
		margin: 15px -15px 5px -15px;
	}
}

/* Tags */
.btn.btn-tag {
	border: transparent;
}
.btn-tag.btn-xs {
	line-height: 0.9rem;
}

.card-highlight {
	border-color: #FFE171;
}

.card-highlight > .card-header {
	background-color: #FFE171;
}

.card-highlight > .card-body {
	background-color: lightyellow;
}

.comment_deleteit {
	margin: -5px -10px 0px 0px;
}

/* Grouped check list check / uncheck styles : Deletion list style */
.grouped_check_list .check_button, .grouped_check_list .check_button:visited {
	color: #777;
}

.grouped_check_list.deletion_list .check_parent.unchecked .fa-check, .grouped_check_list.deletion_list .check_parent.checked .fa-times {
	display: none;
}
.grouped_check_list.deletion_list .check_parent.checked .fa-check, .grouped_check_list.deletion_list .check_parent.unchecked .fa-times {
	display: inline !important;
}

.grouped_check_list.deletion_list .check_parent.checked .check_info {
	text-decoration: line-through;
	color: black !important;
	background-color: #ff9999 !important;
}

.grouped_check_list.deletion_list .check_parent.checked.check_related_text, .grouped_check_list.deletion_list .check_parent.checked .check_related_text {
	text-decoration: line-through;
	color: black !important;
}

.grouped_check_list.deletion_list .check_parent.checked.check_related_bg, .grouped_check_list.deletion_list .check_parent.checked .check_related_bg {
	background-color: #ff9999 !important;
}

/* Grouped check list - Style: no-border */
.grouped_check_list.no-border .btn {
	border: transparent;
}

/* Grouped check list - Style: Coloured btn elements by default */
.grouped_check_list.coloured-list .check_parent {
	margin: 0px 25px 10px 0px;
}

.grouped_check_list.coloured-list .check_parent.unchecked .btn-light {
	color: gray;
}
.grouped_check_list.coloured-list .check_parent.unchecked .check_info {
	background: white;
}

.grouped_check_list.coloured-list .check_parent.checked a.btn-light {
	color: #00e600;
}
.grouped_check_list.coloured-list .check_parent.checked .check_info {
	color: black;
}
.grouped_check_list.coloured-list .check_parent.checked .check_info {
	background: #f2ffe6;
}


/* Common elements */
.form-control {
	font-size: 16px;
}


.tooltip-wrap-15 .tooltip {
	width: 15em;
}

.tooltip-info {
	cursor: help;
}

.tooltip-info .fa-question-circle {
	color: #bbb;
}

/* priority and agent change */
.popover .popover-title button {
	border: none;
	outline: none;
	background: transparent;
	font-size: 2em;
	margin: -8px -8px 0px 0px;
}

/* Ticket field error */
.jquery_error_text {
	display: none;
}

.note-editor.panel {
	margin-bottom: 0px;
}

.jquery_error .form-control, .jquery_error .note-editor, .jquery_error .jquery_attachment_block {
	border: 1px solid red !important;
}
.jquery_error .jquery_error_text {
	display: block;
	color: red;
	font-weight: bold;
}

/* Ticket attachments */
.attached_list .card {
	margin: 0em 0.5em 0.5em 0em;
}

.attached_list .card-body {
	padding: 8px;
}

.attached_list .media-left a, .attached_list .media-left a:visited {
	color: #bbb;
}

.attached_list .media-left a.image:hover, .attached_list .media-left a.image:active {
	color: #ff3385;
}

.attached_list .media-left a.pdf:hover, .attached_list .media-left a.pdf:active {
	color: red;
}

.attached_list .media-left a.msword:hover, .attached_list .media-left a.msword:active {
	color: #549ee8;
}

.attached_list .media-left a.msexcel:hover, .attached_list .media-left a.msexcel:active {
	color: #77DD77;
}

.attached_list .media-left a.compressed:hover, .attached_list .media-left a.compressed:active {
	color: #FFC125;
}

.attached_list .media-left a.default:hover, .attached_list .media-left a.default:active {
	color: orange;
}
