body {
	padding-top: 3.5em;
}

/*@media screen and (min-width:600px) and (max-width: 899px) {
	h1 {color: #3a3a3a;}
	body {background: orange;}
}

@media screen and (min-width:900px) {
	h1 {color: black;}
	body {background: yellow;}
}*/

#ticketit_filter_panel .title {
	display: inline-block;
	margin: 0em 0.2em 0em 1em;
}

#ticketit_filter_panel .title.pov {	
	margin: 0em 0.2em 0em 0em;
}

#ticketit_filter_panel .btn-category {
	font-size: 1.2em;
}

#ticketit_filter_panel .btn.pov-link, #ticketit_filter_panel .btn.agent-link, #ticketit_filter_panel .btn.agent-current {
	padding: 0.3em 0.6em;
}

#ticketit_filter_panel .btn.pov-link, #ticketit_filter_panel .btn.agent-link {
	border: none;
}

#ticketit_filter_panel .btn.agent-current {
	background: white;
	border: none;
}

#ticketit_filter_panel .btn.agent-current .badge {
	color: white;
}

.btn-default .badge {
	background-color: #bbb ;
}

/*
 * Agent filter menu with select2 script
*/
#select_agent_container {
	display: inline-block;
}
#select_agent {
	display: none; /* don't show select until it is rendered */
}
#select_agent_container #select2-select_agent-container {
	border-radius: 4px;
}
#select_agent_container * {
	outline: none;
}
#select_agent_container .select2-selection--single {
	border-color: transparent;
}
#select_agent_container .select2-selection--single:active, #select_agent_container .select2-selection--single:hover {
	background-color: #eee;
}
#select_agent_container .select2-selection__rendered {
	color: blue; /* selected option color */
	font-weight: bold;
}
#select_agent_container.all .select2-selection__rendered {
	
}
#select_agent_container .select2-selection__arrow b {
	border-top-color: blue; /* arrow on closed dropdown */
	border-bottom-color: blue; /* arrow on opened dropdown */
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #84bef5;
    color: #fff;
}


/*
 * Datatable styles
*/
.table-hover tbody tr:hover td, .table-hover tbody tr.hover td {
	background-color: #ddd; /*lightorange: #FFE2B3*/
}


/*
 * Ticket show
*/
/* sm and up */
@media screen and (min-width: 992px){
	#ticket-body .row.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}	
}


#ticket-body .description-col, #ticket-body .intervention-col {
	border: 1px solid #ddd;
	margin: 0px 15px 0px 0px;
	padding: 15px;
	border-radius: 5px;
}

@media screen and (max-width: 991px){
	#ticket-body .description-col, #ticket-body .intervention-col {
		margin: 15px;
	}
}

.panel-highlight {
	border-color: #FFE171;
}

.panel-highlight > .panel-heading {
	background-color: #FFE171;
}

.panel-highlight > .panel-body {
	background-color: lightyellow;
}


/* Admin > Category: Edit: Tags panel */
.btn-group-panel .btn-group {
	margin: 0px 25px 10px 0px;
}

.btn-group-panel .btn-group.unchecked .btn-default {
	color: gray;	
}
.btn-group-panel .btn-group.unchecked .btn-text {
	background: white;
}

.btn-group-panel .btn-group.checked a.btn-default {
	color: #00e600;
}
.btn-group-panel .btn-group.checked .btn-text {
	color: black;
}
.btn-group-panel .btn-group.checked .btn-text {
	background: #f2ffe6;
}

/* Tag panel check / uncheck styles */
.jquery_tag_group_unchecked .glyphicon-ok, .jquery_tag_group_checked .glyphicon-remove {
	display: none;
}
.jquery_tag_group_checked .glyphicon-ok, .jquery_tag_group_unchecked .glyphicon-remove {
	display: inline !important;
}	

.jquery_tag_group_checked .jquery_tag_text {
	text-decoration: line-through;
	color: black !important;
	background-color: #ff9999 !important;
}


/* Common elements */
.text-info {
	color: #549ee8;
}
/* btn-info: #84bef5; */

.text-warning {
	color: #e69138;
}
/* btn-warning background: #f6b26b; */

.text-success {
	color: #68c240;
}

.tooltip-info {
	cursor: help;
}

.tooltip-info .glyphicon-question-sign {
	color: #bbb;
}